<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JercyProjectMaster</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string></string>
				<key>dateExpires</key>
				<string></string>
				<key>type</key>
				<string>Unknown</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>AEXML.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TA757FA6NR</string>
						<key>name</key>
						<string>JEASUNG LEE</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>PathKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TA757FA6NR</string>
						<key>name</key>
						<string>JEASUNG LEE</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SwiftShell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TA757FA6NR</string>
						<key>name</key>
						<string>JEASUNG LEE</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>xcodeproj.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TA757FA6NR</string>
						<key>name</key>
						<string>JEASUNG LEE</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>JercyProjectMaster.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TA757FA6NR</string>
				<key>name</key>
				<string>JEASUNG LEE</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
